.header {
  position: absolute;
  z-index: 1;
  width: 100%;
  padding-top: 24px;

}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__rigth {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__link {
  font-weight: 600;
  font-size: 20px;
  text-decoration: none;
  line-height: 53px;
  font-family: "Inter", -apple-system, system-ui, BlinkMacSystemFont, "Helvetica Neue", "Helvetica", sans-serif;
  margin-left: 8px;
}

.header__img {
  width: 40px;
  height: 40px;
}

.header__button {
  padding: 8px 24px;
  border-radius: 80px;
  border: double 3px transparent;
  font-weight: 500;
  line-height: 24px;
  font-size: 16px;
  background-image: linear-gradient(#0d0e21, #0d0e21), radial-gradient(circle at top left, #016eda, #d900c0);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  text-decoration: none;
}