.button {
  border-radius: 5px;
  border: none;
  padding: 15px 30px;
  font-size: 16px;
  font-weight: 500;
}

.button--primary {
  background: linear-gradient(94deg, rgba(1, 110, 218, 1) 0%, rgba(217, 0, 192, 1) 100%);
}

.button--secondary {
  background: #2e3348;
}

.button--small {
  padding: 8px 24px;
}

.button--block {
  width: 100%;
}