

.community_card__content {
  padding: 32px;
  border-radius: 10px;
  background-color: #202231;
  text-align: center;
}

.community_card__number {
  font-weight: 600;
  font-size: 36px;
  line-height: 40px;
}

.community_card__subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #6b7280;
  margin-top: 10px;
}
