.cash_list {
  margin-top: 50px;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(1, minmax(0, 1fr));

  @include breakpoint(sm) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @include breakpoint(lg) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}