.community_list {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 24px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;

  @include breakpoint(sm) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @include breakpoint(md) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @include breakpoint(lg) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}